Client_Restaurant/Web References/localhost/wservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllRestaurant">
        <s:complexType />
      </s:element>
      <s:element name="getAllRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllRestaurantResult" type="tns:ArrayOfRestaurant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRestaurant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Restaurant" nillable="true" type="tns:Restaurant" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Restaurant">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RNC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Persona_Encargada" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad_Emplados" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Creacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Modificacion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo_Comida" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ventas_Mensuales_Promedio" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="GuidReg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RNC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Persona_Encargada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Cantidad_Emplados" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo_Comida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Ventas_Mensuales_Promedio" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="GuidReg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostRestaurantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RNC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Persona_Encargada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Cantidad_Emplados" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo_Comida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Ventas_Mensuales_Promedio" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="GuidReg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutRestaurantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteRestaurantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:getAllRestaurant" />
  </wsdl:message>
  <wsdl:message name="getAllRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:getAllRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="PostRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:PostRestaurant" />
  </wsdl:message>
  <wsdl:message name="PostRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:PostRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="PutRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:PutRestaurant" />
  </wsdl:message>
  <wsdl:message name="PutRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:PutRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRestaurant" />
  </wsdl:message>
  <wsdl:message name="DeleteRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRestaurantResponse" />
  </wsdl:message>
  <wsdl:portType name="wserviceSoap">
    <wsdl:operation name="getAllRestaurant">
      <wsdl:input message="tns:getAllRestaurantSoapIn" />
      <wsdl:output message="tns:getAllRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostRestaurant">
      <wsdl:input message="tns:PostRestaurantSoapIn" />
      <wsdl:output message="tns:PostRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutRestaurant">
      <wsdl:input message="tns:PutRestaurantSoapIn" />
      <wsdl:output message="tns:PutRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <wsdl:input message="tns:DeleteRestaurantSoapIn" />
      <wsdl:output message="tns:DeleteRestaurantSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wserviceSoap" type="tns:wserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllRestaurant">
      <soap:operation soapAction="http://tempuri.org/getAllRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostRestaurant">
      <soap:operation soapAction="http://tempuri.org/PostRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutRestaurant">
      <soap:operation soapAction="http://tempuri.org/PutRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <soap:operation soapAction="http://tempuri.org/DeleteRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wserviceSoap12" type="tns:wserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllRestaurant">
      <soap12:operation soapAction="http://tempuri.org/getAllRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostRestaurant">
      <soap12:operation soapAction="http://tempuri.org/PostRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutRestaurant">
      <soap12:operation soapAction="http://tempuri.org/PutRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <soap12:operation soapAction="http://tempuri.org/DeleteRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wservice">
    <wsdl:port name="wserviceSoap" binding="tns:wserviceSoap">
      <soap:address location="https://localhost:44354/wservice.asmx" />
    </wsdl:port>
    <wsdl:port name="wserviceSoap12" binding="tns:wserviceSoap12">
      <soap12:address location="https://localhost:44354/wservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>